#
# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
# (the "License"). You may not use this work except in compliance with the License, which is
# available at www.apache.org/licenses/LICENSE-2.0
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
# either express or implied, as more fully set forth in the License.
#
# See the NOTICE file distributed with this work for information regarding copyright ownership.
#

{{- $masterCount := int .Values.master.replicaCount }}
{{- $isEmbedded := (eq .Values.journal.type "EMBEDDED") }}
{{- $isHaEmbedded := and $isEmbedded (gt $masterCount 1) }}
{{- $isMonitored := (.Values.monitoring) }}
{{- $metricsLabel := .Values.monitoring }}
{{- $release := .Release }}
{{- $masterRpcPort := .Values.master.ports.rpc }}
{{- $masterWebPort := .Values.master.ports.web }}
{{- $jobMasterRpcPort := .Values.jobMaster.ports.rpc }}
{{- $jobMasterWebPort := .Values.jobMaster.ports.web }}
{{- $masterEmbeddedPort := .Values.master.ports.embedded }}
{{- $jobMasterEmbeddedPort := .Values.jobMaster.ports.embedded }}
{{- $isAPIGatewayEnabled := .Values.apiGateway.enabled }}
{{- $apiGatewayPort := .Values.apiGateway.ports.rest }}
{{- $name := include "alluxio.name" . }}
{{- $fullName := include "alluxio.fullname" . }}
{{- $chart := include "alluxio.chart" . }}
{{- $owner := $.Values.owner }}
{{- range $i := until $masterCount }}
  {{- $masterName := printf "master-%v" $i }}
  {{- $masterJavaOpts := printf " -Dalluxio.master.hostname=%v-%v " $fullName $masterName }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}-{{ $masterName }}
  labels:
    app: {{ $name }}
    chart: {{ $chart }}
    release: {{ $release.Name }}
    heritage: {{ $release.Service }}
    role: alluxio-master
    {{- if $isMonitored }}
    monitor: {{ $metricsLabel }}
    {{- end }}
  ownerReferences:
  {{- if $owner.enabled }}
  - apiVersion: {{ $owner.apiVersion }}
    blockOwnerDeletion: {{ $owner.blockOwnerDeletion }}
    controller: {{ $owner.controller }}
    kind: {{ $owner.kind }}
    name: {{ $owner.name }}
    uid: {{ $owner.uid }}
  {{- end }}
spec:
  ports:
    - port: {{ $masterRpcPort }}
      name: rpc
    - port: {{ $masterWebPort }}
      name: web
    - port: {{ $jobMasterRpcPort }}
      name: job-rpc
    - port: {{ $jobMasterWebPort }}
      name: job-web
    {{- if $isAPIGatewayEnabled }}
    - port: {{ $apiGatewayPort }}
      name: rest
    {{- end }}
    {{- if $isHaEmbedded }}
    - port: {{ $masterEmbeddedPort }}
      name: embedded
    - port: {{ $jobMasterEmbeddedPort }}
      name: job-embedded
    {{- end }}
  clusterIP: None
  selector:
    role: alluxio-master
    app: {{ $name }}
    release: {{ $release.Name }}
    statefulset.kubernetes.io/pod-name: {{ $fullName }}-{{ $masterName }}
---
{{- end }}
