apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-script" .Release.Name }}
  labels:
    release: {{ .Release.Name }}
    role: datamigrate-job
data:
  datamigrate.sh: |
    #!/bin/bash
    set -e

    function main() {
      echo "juicefs datamigrate job start..."

      if [ $EDITION == 'community' ]
      then
        timeout $TIMEOUT /usr/local/bin/juicefs sync {{ .Values.datamigrate.migrateFrom }} {{ .Values.datamigrate.migrateTo }} $OPTION
      else
        {{- range $key, $val := .Values.datamigrate.options }}
        {{- if eq $key "formatCmd" }}
        {{ $val }}
        {{- end }}
        {{- end }}
        timeout $TIMEOUT /usr/bin/juicefs sync {{ .Values.datamigrate.migrateFrom }} {{ .Values.datamigrate.migrateTo }} $OPTION
      fi
      echo "juicefs datamigrate job end."
    }
    main "$@"
