{{- if gt (.Values.datamigrate.parallelism | int) 1 }}
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-workers" .Release.Name }}
  labels:
    release: {{ .Release.Name }}
    role: datamigrate-job
  ownerReferences:
  {{- if .Values.owner.enabled }}
    - apiVersion: {{ .Values.owner.apiVersion }}
      blockOwnerDeletion: {{ .Values.owner.blockOwnerDeletion }}
      controller: {{ .Values.owner.controller }}
      kind: {{ .Values.owner.kind }}
      name: {{ .Values.owner.name }}
      uid: {{ .Values.owner.uid }}
  {{- end }}
spec:
  clusterIP: None # clusterIP must be None to create a headless service
  selector:
    # must match Job name
    app: {{ printf "%s-workers" .Release.Name }}
{{- end }}
