{{ if .Values.webhook.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluid-webhook
  namespace: fluid-system
  labels:
    control-plane: fluid-webhook
spec:
  selector:
    matchLabels:
      control-plane: fluid-webhook
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: fluid-webhook
    spec:
      serviceAccountName: fluid-webhook
      containers:
        - image: {{ .Values.webhook.image | quote }}
          name: manager
          command: ["fluid-webhook", "start"]
          args:
            - --development=false
          env:
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
{{- end }}
