{{- $masterCount := int .Values.master.replicaCount }}
{{- $isEmbedded := (eq .Values.journal.type "EMBEDDED") }}
{{- $isHaEmbedded := and $isEmbedded (gt $masterCount 1) }}
{{- $isMonitored := (.Values.monitoring) }}
{{- $metricsLabel := .Values.monitoring }}
{{- $release := .Release }}
{{- $masterRpcPort := .Values.master.ports.rpc }}
{{- $masterWebPort := .Values.master.ports.web }}
{{- $jobMasterRpcPort := .Values.jobMaster.ports.rpc }}
{{- $jobMasterWebPort := .Values.jobMaster.ports.web }}
{{- $masterEmbeddedPort := .Values.master.ports.embedded }}
{{- $jobMasterEmbeddedPort := .Values.jobMaster.ports.embedded }}
{{- $isAPIGatewayEnabled := .Values.apiGateway.enabled }}
{{- $apiGatewayPort := .Values.apiGateway.ports.rest }}
{{- $name := include "goosefs.name" . }}
{{- $fullName := include "goosefs.fullname" . }}
{{- $chart := include "goosefs.chart" . }}
{{- range $i := until $masterCount }}
  {{- $masterName := printf "master-%v" $i }}
  {{- $masterJavaOpts := printf " -Dgoosefs.master.hostname=%v-%v " $fullName $masterName }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}-{{ $masterName }}
  labels:
    app: {{ $name }}
    chart: {{ $chart }}
    release: {{ $release.Name }}
    heritage: {{ $release.Service }}
    role: goosefs-master
    {{- if $isMonitored }}
    monitor: {{ $metricsLabel }}
    {{- end }}
spec:
  ports:
    - port: {{ $masterRpcPort }}
      name: rpc
    - port: {{ $masterWebPort }}
      name: web
    - port: {{ $jobMasterRpcPort }}
      name: job-rpc
    - port: {{ $jobMasterWebPort }}
      name: job-web
    {{- if $isAPIGatewayEnabled }}
    - port: {{ $apiGatewayPort }}
      name: rest
    {{- end }} 
    {{- if $isHaEmbedded }}
    - port: {{ $masterEmbeddedPort }}
      name: embedded
    - port: {{ $jobMasterEmbeddedPort }}
      name: job-embedded
    {{- end }}
  clusterIP: None
  selector:
    role: goosefs-master
    app: {{ $name }}
    release: {{ $release.Name }}
    statefulset.kubernetes.io/pod-name: {{ $fullName }}-{{ $masterName }}
---
{{- end }}
