apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "thin.fullname" . }}-runtimeset
  labels:
    app: {{ template "thin.name" . }}
    chart: {{ template "thin.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  ownerReferences:
  {{- if .Values.owner.enabled }}
    - apiVersion: {{ .Values.owner.apiVersion }}
      blockOwnerDeletion: {{ .Values.owner.blockOwnerDeletion }}
      controller: {{ .Values.owner.controller }}
      kind: {{ .Values.owner.kind }}
      name: {{ .Values.owner.name }}
      uid: {{ .Values.owner.uid }}
  {{- end }}
data:
  runtime.json: |
    {{ .Values.runtimeValue }}
