apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-delete-policy": before-hook-creation
  name: {{ template "thin.fullname" . }}-runtime-info
  labels:
    app: {{ template "thin.name" . }}
    chart: {{ template "thin.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  runtime.json: |
    {{ .Values.runtimeValue }}