# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.1
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.13
    working_directory: /go/src/github.com/fluid-cloudnative/fluid
    environment:
      TEST_FLAGS: '-race -coverprofile=coverage.txt -covermode=atomic'
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: run tests
          command: |
            test -z "$(go fmt ./... 2>/dev/null | tee /dev/stderr)" || (echo "please format Go code with 'gofmt'")
            go vet ./...
      - run: docker build . -f Dockerfile.dataset dataset-controller:${CIRCLE_BUILD_NUM}
      - run: docker build . -f Dockerfile.alluxioruntime alluxioruntime-controller:${CIRCLE_BUILD_NUM}
      - run: docker build . -f Dockerfile.csi -t fluid-csi:${CIRCLE_BUILD_NUM}

# maybe later we need to upload output to helm repository
