{{ if .Values.webhook.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluid-webhook
  namespace: {{ include "fluid.namespace" . }}
  labels:
    control-plane: fluid-webhook
spec:
  selector:
    matchLabels:
      control-plane: fluid-webhook
  replicas: {{ .Values.webhook.replicas }}
  template:
    metadata:
      labels:
        control-plane: fluid-webhook
    spec:
      {{- if .Values.webhook.tolerations }}
      tolerations:
{{ toYaml .Values.webhook.tolerations | indent 8}}
      {{- end }}
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: fluid-webhook
      containers:
      - image: {{ .Values.webhook.image | quote }}
        name: manager
        command: ["fluid-webhook", "start"]
        args:
          - --development=false
          - --full-go-profile=false
          - --pprof-addr=:6060
        env:
          - name: MY_POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: TIME_TRACK
            value: "false"
          {{- if .Values.webhook.serverlessInject }}
          {{- if .Values.webhook.serverlessInject.platformKey }}
          - name: KEY_SERVERLESS_PLATFORM
            value: {{ .Values.webhook.serverlessInject.platformKey | quote }}
          {{- end }}
          {{- if .Values.webhook.serverlessInject.platformValue }}
          - name: VALUE_SERVERLESS_PLATFORM
            value: {{ .Values.webhook.serverlessInject.platformValue | quote }}
          {{- end }}
          {{- if .Values.webhook.serverlessInject.vfuseResourceName }}
          - name: VFUSE_RESOURCE_NAME
            value: {{ .Values.webhook.serverlessInject.vfuseResourceName | quote }}
          {{- end }}
          {{- end }}
        ports:
          - containerPort: 8080
            name: metrics
            protocol: TCP
{{- end }}
