{{ if .Values.webhook.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluid-webhook
  namespace: fluid-system
  labels:
    control-plane: fluid-webhook
spec:
  selector:
    matchLabels:
      control-plane: fluid-webhook
  replicas: {{ .Values.webhook.replicas }}
  template:
    metadata:
      labels:
        control-plane: fluid-webhook
    spec:
      serviceAccountName: fluid-webhook
      containers:
        - image: {{ .Values.webhook.image | quote }}
          name: manager
          command: ["fluid-webhook", "start"]
          args:
            - --development=false
            - --full-go-profile=false
            - --pprof-addr=:6060
          env:
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: TIME_TRACK
              value: "false"
            {{- if .Values.webhook.serverlessInject.platformLabel }}
            - name: LABEL_SERVERLESS_PLATFORM
              value: {{ .Values.webhook.serverlessInject.platformLabel | quote }}
            {{- end }}
            {{- if .Values.webhook.serverlessInject.platformValue }}
            - name: VALUE_SERVERLESS_PLATFORM
              value: {{ .Values.webhook.serverlessInject.platformValue | quote }}
            {{- end }}
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
{{- end }}
