---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - data.fluid.io
  resources:
  - alluxioruntimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - data.fluid.io
  resources:
  - alluxioruntimes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - dataprocesses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - data.fluid.io
  resources:
  - dataprocesses/finalizers
  verbs:
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - dataprocesses/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - datasets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - data.fluid.io
  resources:
  - datasets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - efcruntimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - data.fluid.io
  resources:
  - efcruntimes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - goosefsruntimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - data.fluid.io
  resources:
  - goosefsruntimes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - jindoruntimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - data.fluid.io
  resources:
  - jindoruntimes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - juicefsruntimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - data.fluid.io
  resources:
  - juicefsruntimes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - thinruntimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - data.fluid.io
  resources:
  - thinruntimes/finalizers
  verbs:
  - update
- apiGroups:
  - data.fluid.io
  resources:
  - thinruntimes/status
  verbs:
  - get
  - patch
  - update
