apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "juicefs.fullname" . }}-worker
  labels:
    app: {{ template "juicefs.name" . }}
    chart: {{ template "juicefs.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: juicefs-worker
    fluid.io/dataset: {{ .Release.Namespace }}-{{ .Release.Name }}
    fluid.io/dataset-placement: {{ .Values.placement }}
spec:
  replicas: {{ .Values.worker.replicaCount }}
  serviceName: {{ template "juicefs.fullname" . }}-worker
  selector:
    matchLabels:
      app: {{ template "juicefs.name" . }}
      chart: {{ template "juicefs.chart" . }}
      release: {{ .Release.Name }}
      heritage: {{ .Release.Service }}
      role: juicefs-worker
  template:
    metadata:
      labels:
        app: {{ template "juicefs.name" . }}
        chart: {{ template "juicefs.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
        role: juicefs-worker
        fluid.io/dataset: {{ .Release.Namespace }}-{{ .Release.Name }}
        fluid.io/dataset-placement: {{ .Values.placement }}
    spec:
      nodeSelector:
      {{- if .Values.worker.nodeSelector }}
{{ toYaml .Values.worker.nodeSelector | trim | indent 8  }}
      {{- else if .Values.nodeSelector }}
{{ toYaml .Values.nodeSelector | trim | indent 8  }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      {{- end }}
      containers:
        - name: juicefs-worker
          image: {{ .Values.image }}:{{ .Values.imageTag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- if .Values.worker.resources  }}
          resources:
            {{- if .Values.worker.resources.limits }}
            limits:
              cpu: {{ .Values.worker.resources.limits.cpu }}
              memory: {{ .Values.worker.resources.limits.memory }}
            {{- end }}
            {{- if .Values.worker.resources.requests }}
            requests:
              cpu: {{ .Values.worker.resources.requests.cpu }}
              memory: {{ .Values.worker.resources.requests.memory }}
            {{- end }}
          {{- end }}
          command: ["sh", "-c", "sleep infinity"]
          securityContext:
            privileged: true
          {{- if .Values.worker.ports }}
          ports:
{{ toYaml .Values.worker.ports | trim | indent 10  }}
          {{- end }}
          env:
          {{- if .Values.worker.envs }}
{{ toYaml .Values.worker.envs | trim | indent 10  }}
          {{- end }}
          {{- if .Values.fuse.metaurlSecret }}
          - name: METAURL
            valueFrom:
              secretKeyRef:
                name: {{ .Values.fuse.metaurlSecret }}
                key: metaurl
          {{- end }}
          {{- if .Values.fuse.accesskeySecret }}
          - name: ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: {{ .Values.fuse.accesskeySecret }}
                key: access-key
          {{- end }}
          {{- if .Values.fuse.secretkeySecret }}
          - name: SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: {{ .Values.fuse.secretkeySecret }}
                key: secret-key
          {{- end }}
          volumeMounts:
            - mountPath: /root/script
              name: script
            {{- if .Values.worker.cacheDir }}
            - name: cache-dir
              mountPath: {{ .Values.worker.cacheDir }}
            {{- end }}
      restartPolicy: Always
      volumes:
        {{- if .Values.worker.cacheDir }}
        - name: cache-dir
          hostPath:
            path: {{ .Values.worker.cacheDir }}
            type: DirectoryOrCreate
        {{- end }}
        - name: script
          configMap:
            name: {{ template "juicefs.fullname" . }}-script
            defaultMode: 0777
