apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    "helm.sh/hook": pre-install,post-delete,pre-upgrade
  name: {{ template "efc.fullname" . }}-worker-endpoints
  labels:
    app: {{ template "efc.name" . }}
    chart: {{ template "efc.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: efc-worker-endpoints
  ownerReferences:
  {{- if .Values.owner.enabled }}
  - apiVersion: {{ .Values.owner.apiVersion }}
    blockOwnerDeletion: {{ .Values.owner.blockOwnerDeletion }}
    controller: {{ .Values.owner.controller }}
    kind: {{ .Values.owner.kind }}
    name: {{ .Values.owner.name }}
    uid: {{ .Values.owner.uid }}
  {{- end }}
data:
  efc-worker-endpoints.json: |
    {"containerendpoints":[]}
