
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: databackups.data.fluid.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.dataset
    name: Dataset
    type: string
  - JSONPath: .status.phase
    name: Phase
    type: string
  - JSONPath: .status.backupLocation.path
    name: Path
    type: string
  - JSONPath: .status.backupLocation.nodeName
    name: NodeName
    type: string
  - JSONPath: .status.duration
    name: Duration
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: data.fluid.io
  names:
    kind: DataBackup
    listKind: DataBackupList
    plural: databackups
    singular: databackup
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: DataBackup is the Schema for the backup API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: DataBackupSpec defines the desired state of DataBackup
          properties:
            backupPath:
              description: BackupPath defines the target path to save data of the
                DataBackup
              type: string
            dataset:
              description: Dataset defines the target dataset of the DataBackup
              type: string
            runAs:
              description: Manage the user to run Alluxio DataBackup
              properties:
                gid:
                  description: The gid to run the alluxio runtime
                  format: int64
                  type: integer
                group:
                  description: The group name to run the alluxio runtime
                  type: string
                uid:
                  description: The uid to run the alluxio runtime
                  format: int64
                  type: integer
                user:
                  description: The user name to run the alluxio runtime
                  type: string
              required:
              - gid
              - group
              - uid
              - user
              type: object
          type: object
        status:
          description: DataBackupStatus defines the observed state of DataBackup
          properties:
            backupLocation:
              description: BackupLocation tell user the location to save data of the
                DataBackup
              properties:
                nodeName:
                  description: NodeName describes the nodeName of backup if Path is
                    in the form of local://subpath
                  type: string
                path:
                  description: Path describes the path of backup, in the form of local:///absolutePath
                    or pvc://<pvcName>/subpath
                  type: string
              type: object
            conditions:
              description: Conditions consists of transition information on DataBackup's
                Phase
              items:
                description: Condition explains the transitions on phase
                properties:
                  lastProbeTime:
                    description: LastProbeTime describes last time this condition
                      was updated.
                    format: date-time
                    type: string
                  lastTransitionTime:
                    description: LastTransitionTime describes last time the condition
                      transitioned from one status to another.
                    format: date-time
                    type: string
                  message:
                    description: Message is a human-readable message indicating details
                      about the transition
                    type: string
                  reason:
                    description: Reason for the condition's last transition
                    type: string
                  status:
                    description: Status of the condition, one of `True`, `False` or
                      `Unknown`
                    type: string
                  type:
                    description: Type of condition, either `Complete` or `Failed`
                    type: string
                required:
                - status
                - type
                type: object
              type: array
            duration:
              description: Duration tell user how much time was spent to backup
              type: string
            phase:
              description: Phase describes current phase of DataBackup
              type: string
          required:
          - conditions
          - duration
          - phase
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
