---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dataset-controller
rules:
  - apiGroups:
      - batch
    resources:
       - jobs
       - jobs/status
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
      - persistentvolumes
      - services
      - endpoints
      - configmaps
      - events
      - namespaces
      - pods
      - pods/exec
      - secrets
      - nodes
    verbs:
      - '*'
  - apiGroups:
      - data.fluid.io
    resources:
      - dataloads
      - dataloads/status
      - databackups
      - databackups/status
      - datasets
      - datasets/status
      - alluxioruntimes
      - alluxioruntimes/status
      - jindoruntimes
      - jindoruntimes/status
      - goosefsruntimes
      - goosefsruntimes/status
      - juicefsruntimes
      - juicefsruntimes/status
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - '*'
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - statefulsets
      - daemonsets/status
      - statefulsets/status
    verbs:
      - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: dataset-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dataset-controller
subjects:
  - kind: ServiceAccount
    name: dataset-controller
    namespace: fluid-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: dataset-controller
  namespace: fluid-system
