---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: fluidapp-controller
rules:
  - apiGroups:
      - ""
    resources:
      - events
      - pods
      - pods/exec
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: fluidapp-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: fluidapp-controller
subjects:
  - kind: ServiceAccount
    name: fluidapp-controller
    namespace: fluid-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluidapp-controller
  namespace: fluid-system
