---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: alluxioruntime-controller
rules:
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
      - persistentvolumes
      - services
      - endpoints
      - configmaps
      - events
      - namespaces
      - pods
      - pods/exec
      - secrets
      - nodes
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - data.fluid.io
    resources:
      - alluxiodataloads
      - alluxioruntimes
      - datasets
      - alluxiodataloads/status
      - alluxioruntimes/status
      - datasets/status
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - statefulsets
      - daemonsets/status
      - statefulsets/status
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: alluxioruntime-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: alluxioruntime-controller
subjects:
  - kind: ServiceAccount
    name: alluxioruntime-controller
    namespace: fluid-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: alluxioruntime-controller
  namespace: fluid-system
