#
# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
# (the "License"). You may not use this work except in compliance with the License, which is
# available at www.apache.org/licenses/LICENSE-2.0
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
# either express or implied, as more fully set forth in the License.
#
# See the NOTICE file distributed with this work for information regarding copyright ownership.
#

# This should not be modified in the usual case.
fullnameOverride: alluxio


## Common ##

## global image pull secrets
imagePullSecrets: []

# Docker Image
image: alluxio/alluxio
imageTag: 2.4.0-SNAPSHOT
imagePullPolicy: IfNotPresent

# Create User Docker Image // TODO make it configurable
initUsers:
  enabled: false
  image: registry.cn-hangzhou.aliyuncs.com/fluid/init-users
  imageTag: v0.3.0-1467caa
  imagePullPolicy: IfNotPresent
  args: "1000"
  envUsers: ""
  envTieredPaths: ""
  dir: ""

# Security Context
user: 1000
group: 1000

# Site properties for all the components
properties:
  # alluxio.user.metrics.collection.enabled: 'true'
  alluxio.security.stale.channel.purge.interval: 365d

# Recommended JVM Heap options for running in Docker
# Ref: https://developers.redhat.com/blog/2017/03/14/java-inside-docker/
# These JVM options are common to all Alluxio services
# jvmOptions:
#   - "-XX:+UnlockExperimentalVMOptions"
#   - "-XX:+UseCGroupMemoryLimitForHeap"
#   - "-XX:MaxRAMFraction=2"

# Mount Persistent Volumes to all components
# mounts:
# - name: <persistentVolume claimName>
#   path: <mountPath>

# Use labels to run Alluxio on a subset of the K8s nodes
# nodeSelector: {}

##
## Example:
##   - key: "toleration=key"
##     operator: "Equal"
##     value: "value"
##     effect: "NoSchedule"
##
## Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: []

## Master ##

master:
  # Metadata for Alluxio Master Pod(including both master and job master component's label)
  labels:
#    label1: value1
#    label2: value2

  annotations:
#    annotation1: value1
#    annotation2: value2

  replicaCount: 1 # Controls the number of StatefulSets. For multiMaster mode increase this to >1.
  env:
    # Extra environment variables for the master pod
    # Example:
    # JAVA_HOME: /opt/java
  args: # Arguments to Docker entrypoint
    - master-only
    - --no-format
  # Properties for the master component
  properties:
    # Example: use ROCKS DB instead of Heap
    # alluxio.master.metastore: ROCKS
    # alluxio.master.metastore.dir: /metastore
  resources:
    # The default xmx is 8G
    limits:
#      cpu: "4"
#      memory: "8G"
    requests:
#      cpu: "1"
#      memory: "1G"
  ports:
    embedded: 19200
    rpc: 19998
    web: 19999
  hostPID: true
  hostNetwork: false
  # dnsPolicy will be ClusterFirstWithHostNet if hostNetwork: true
  # and ClusterFirst if hostNetwork: false
  # You can specify dnsPolicy here to override this inference
  # dnsPolicy: ClusterFirst
  # JVM options specific to the master container
  jvmOptions:
  nodeSelector: {}
  # backupPath is the path in the host to save metadata and   metadata info
  backupPath: #<backupPath>
  # restore is the location to restore metadata and metadata info  from
  restore:
    enabled: false
    # path: /subpath/
    # pvcName: pvc-local
  volumeMounts: []
  # volumeMounts:
  # - name: mySecretVolume
  #   mountPath: /data/secrets/mySecretVolume/
  # - name: myConfigMapVolume
  #   mountPath: /data/configmap/myConfigMapVolume/
  # volumeMounts:
  # - name: mySecretVolume
  #   mountPath: /data/secrets/mySecretVolume/
  # - name: myConfigMapVolume
  #   mountPath: /data/configmap/myConfigMapVolume/
  volumes: []

  mountConfigStorage:
  # mount infos for non native mount points in dataset when mountStorage is "configmap".
  nonNativeMounts:

jobMaster:
  args:
    - job-master
  # Properties for the jobMaster component
  properties:
  resources:
    limits:
#      cpu: "4"
#      memory: "8G"
    requests:
#      cpu: "1"
#      memory: "1G"
  ports:
    embedded: 20003
    rpc: 20001
    web: 20002
  # JVM options specific to the jobMaster container
  jvmOptions:

# Alluxio supports journal type of UFS and EMBEDDED
# UFS journal with HDFS example
# journal:
#   type: "UFS"
#   folder: "hdfs://{$hostname}:{$hostport}/journal"
# EMBEDDED journal to /journal example
# journal:
#   type: "EMBEDDED"
#   folder: "/journal"
journal:
  # Setting journal type, "UFS" or "EMBEDDED"
  # In commit 2c125dee25f8d4566ae23646a999c16c530ffbc9, in order to support master raft embeeded journal mode, change default value from UFS to EMBEDDED
  # TODO (@xieydd), will support journalClaimTemplates configure the journal setting
  type: "EMBEDDED"
  ufsType: "local" # Ignored if type is "EMBEDDED". "local" or "HDFS"
  folder: "/journal" # Master journal folder
  # volumeType controls the type of journal volume.
  # It can be "persistentVolumeClaim" or "emptyDir"
  volumeType: persistentVolumeClaim
  size: 1Gi
  # Attributes to use when the journal is persistentVolumeClaim
  storageClass: "standard"
  accessModes:
    - ReadWriteOnce
  # Attributes to use when the journal is emptyDir
  medium: ""
  # Configuration for journal formatting job
  format:
    runFormat: false # Change to true to format journal

apiGateway:
  enabled: false
  args:
    - proxy
  properties:
  resources:
    limits:
#      cpu: "4"
#      memory: "4G"
    requests:
#      cpu: "1"
#      memory: "2G"
  ports:
    rest: 39999


# You can enable metastore to use ROCKS DB instead of Heap
# metastore:
#   volumeType: persistentVolumeClaim # Options: "persistentVolumeClaim" or "emptyDir"
#   size: 1Gi
#   mountPath: /metastore
# # Attributes to use when the metastore is persistentVolumeClaim
#   storageClass: "standard"
#   accessModes:
#    - ReadWriteOnce
# # Attributes to use when the metastore is emptyDir
#   medium: ""


## Worker ##

worker:
  # Metadata for Alluxio Worker Pod(including both worker and job worker component's label)
  labels:
#    label1: value1
#    label2: value2

  annotations:
#    annotation1: value1
#    annotation2: value2

  env:
    # Extra environment variables for the worker pod
    # Example:
    # JAVA_HOME: /opt/java
  args:
    - worker-only
    - --no-format
  # Properties for the worker component
  properties:
  resources:
    limits:
#      cpu: "4"
#      memory: "4G"
    requests:
#      cpu: "1"
#      memory: "2G"
  ports:
    rpc: 29999
    web: 30000
  # hostPID requires escalated privileges
  hostPID: true
  hostNetwork: false
  # dnsPolicy will be ClusterFirstWithHostNet if hostNetwork: true
  # and ClusterFirst if hostNetwork: false
  # You can specify dnsPolicy here to override this inference
  # dnsPolicy: ClusterFirst
  # JVM options specific to the worker container
  jvmOptions:
  nodeSelector: {}
  replicaCount: 0
  podManagementPolicy: Parallel
  volumeMounts: []
  # volumeMounts:
  # - name: mySecretVolume
  #   mountPath: /data/secrets/mySecretVolume/
  # - name: myConfigMapVolume
  #   mountPath: /data/configmap/myConfigMapVolume/
  volumes: []


jobWorker:
  args:
    - job-worker
  # Properties for the jobWorker component
  properties:
  resources:
    limits:
#      cpu: "4"
#      memory: "4G"
    requests:
#      cpu: "1"
#      memory: "1G"
  ports:
    rpc: 30001
    data: 30002
    web: 30003
  # JVM options specific to the jobWorker container
  jvmOptions:

# Tiered Storage
# emptyDir example
#  - level: 0
#    alias: MEM
#    mediumtype: MEM
#    path: /dev/shm
#    type: emptyDir
#    quota: 1G
#
# hostPath example
#  - level: 0
#    alias: MEM
#    mediumtype: MEM
#    path: /dev/shm
#    type: hostPath
#    quota: 1G
#
# persistentVolumeClaim example
#  - level: 1
#    alias: SSD
#    mediumtype: SSD
#    type: persistentVolumeClaim
#    name: alluxio-ssd
#    path: /dev/ssd
#    quota: 10G
#
# multi-part mediumtype example
#  - level: 1
#    alias: SSD,HDD
#    mediumtype: SSD,HDD
#    type: persistentVolumeClaim
#    name: alluxio-ssd,alluxio-hdd
#    path: /dev/ssd,/dev/hdd
#    quota: 10G,10G
tieredstore:
  levels:
  - level: 0
    alias: MEM
    mediumtype: MEM
    path: /dev/shm
    type: emptyDir
    quota: 1G
    high: 0.95
    low: 0.7

# Short circuit related properties
shortCircuit:
  enabled: true
  # The policy for short circuit can be "local" or "uuid",
  # local means the cache directory is in the same mount namespace,
  # uuid means interact with domain socket
  policy: uuid
  # volumeType controls the type of shortCircuit volume.
  # It can be "persistentVolumeClaim" or "hostPath"
  volumeType: persistentVolumeClaim
  size: 1Mi
  # Attributes to use if the domain socket volume is PVC
  pvcName: alluxio-worker-domain-socket
  accessModes:
    - ReadWriteOnce
  storageClass: standard
  # Attributes to use if the domain socket volume is hostPath
  hostPath: "/tmp/alluxio-domain" # The hostPath directory to use


## FUSE ##

fuse:
  # Metadata for Alluxio Fuse Pod
  labels:
#    label1: value1
#    label2: value2

  annotations:
#    annotation1: value1
#    annotation2: value2

  criticalPod: false
  env:
    # Extra environment variables for the fuse pod
    # Example:
    # JAVA_HOME: /opt/java
  image: alluxio/alluxio-fuse
  imageTag: 2.4.0-SNAPSHOT
  imagePullPolicy: IfNotPresent
  # Change both to true to deploy FUSE
  enabled: false
  clientEnabled: false
  # Change global to true to enable fuse client deploy in global mode, which will deploy fuse client in all the nodes
  # not consider the the worker and fuse  affinity
  global: false
  nodeSelector: {}
  # Properties for the jobWorker component
  properties:
  # Customize the MaxDirectMemorySize
  # These options are specific to the FUSE daemon
  jvmOptions:
    - "-XX:MaxDirectMemorySize=2g"
  hostNetwork: true
  # hostPID requires escalated privileges
  hostPID: true
  dnsPolicy: ClusterFirstWithHostNet
  user: 0
  group: 0
  args:
    - fuse
    - --fuse-opts=allow_other
  # Mount path in the host
  mountPath: /mnt/alluxio-fuse
  resources:
    requests:
#      cpu: "0.5"
#      memory: "1G"
    limits:
#      cpu: "4"
#      memory: "4G"
  volumeMounts: []
  # volumeMounts:
  # - name: mySecretVolume
  #   mountPath: /data/secrets/mySecretVolume/
  # - name: myConfigMapVolume
  #   mountPath: /data/configmap/myConfigMapVolume/
  volumes: []
  updateStrategy:
    type: OnDelete



## HDFS Configuraions ##
# hadoopConfig:
#   configMap: hdfs-configmap
#   includeHdfsSite: true
#   includeCoreSite: true

##  Secrets ##

# Format: (<name>:<mount path under /secrets/>):
# secrets:
#   master: # Shared by master and jobMaster containers
#     alluxio-hdfs-config: hdfsConfig
#   worker: # Shared by worker and jobWorker containers
#     alluxio-hdfs-config: hdfsConfig

## Monitor ##
# monitoring: "alluxio_runtime_metrics"

# volumes: []
# volumes:
# - name: mySecretVolume
#   secret:
#     secretName: mySecret
# - name: myConfigMapVolume
#   configMap:
#     name: myConfigMap

runtimeIdentity:
  namespace: default
  name: xxx

owner:
  enabled: false
  name: ""
  kind: ""
  uid: ""
  apiVersion: ""
  blockOwnerDeletion: false
  controller: false


clusterDomain: cluster.local
