---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jindoruntime-controller
  namespace: {{ include "fluid.namespace" . }}
  labels:
    control-plane: jindoruntime-controller
spec:
  selector:
    matchLabels:
      control-plane: jindoruntime-controller
  {{ if .Values.runtime.jindo.enabled -}}
  replicas: {{ .Values.runtime.jindo.replicas }}
  {{- else }}
  replicas: 0
  {{- end }}
  template:
    metadata:
      labels:
        control-plane: jindoruntime-controller
      annotations:
      {{ if gt (.Values.runtime.jindo.replicas | int) 1 -}}
        controller.runtime.fluid.io/replicas: {{ .Values.runtime.jindo.replicas | quote }}
      {{- end }}
    spec:
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: jindoruntime-controller
      {{ include "fluid.controlplane.affinity" . | nindent 6}}
      {{- if .Values.runtime.jindo.tolerations }}
      tolerations:
{{ toYaml .Values.runtime.jindo.tolerations | indent 6 }}
      {{- end }}
      containers:
      - image: {{ include "fluid.controlplane.imageTransform" (list .Values.runtime.jindo.controller.imagePrefix .Values.runtime.jindo.controller.imageName .Values.runtime.jindo.controller.imageTag . ) }}
        name: manager
        command: ["jindoruntime-controller", "start"]
        args:
          - --development=false
          - --runtime-node-port-range={{ .Values.runtime.jindo.portRange }}
          - --runtime-workers={{ .Values.runtime.jindo.runtimeWorkers }}
          - --kube-api-qps={{ .Values.runtime.jindo.kubeClientQPS }}
          - --kube-api-burst={{ .Values.runtime.jindo.kubeClientBurst }}
          - --pprof-addr=:6060
          - --enable-leader-election
          - --leader-election-namespace={{ include "fluid.namespace" . }}
          - --port-allocate-policy={{ .Values.runtime.jindo.portAllocatePolicy }}
        env:
        {{- if .Values.workdir }}
        - name: FLUID_WORKDIR
          value: {{ .Values.workdir | quote }}
        {{- end }}
        {{- if .Values.runtime.mountRoot }}
        - name: MOUNT_ROOT
          value: {{ .Values.runtime.mountRoot | quote }}
        {{- end }}
        {{- if .Values.runtime.jindo.smartdata.imageName }}
        - name: JINDO_SMARTDATA_IMAGE_ENV
          value: {{ include "fluid.runtime.imageTransform" (list .Values.runtime.jindo.smartdata.imagePrefix .Values.runtime.jindo.smartdata.imageName .Values.runtime.jindo.smartdata.imageTag . ) }}
        {{- end }}
        {{- if .Values.runtime.jindo.fuse.imageName }}
        - name: JINDO_FUSE_IMAGE_ENV
          value: {{ include "fluid.runtime.imageTransform" (list .Values.runtime.jindo.fuse.imagePrefix .Values.runtime.jindo.fuse.imageName .Values.runtime.jindo.fuse.imageTag . ) }}
        {{- end }}
        {{- if .Values.runtime.jindo.init.imageName }}
        - name: DEFAULT_INIT_IMAGE_ENV
          value: {{ include "fluid.runtime.imageTransform" (list .Values.runtime.jindo.init.imagePrefix .Values.runtime.jindo.init.imageName .Values.runtime.jindo.init.imageTag . ) }}
        {{- end }}
        {{- if .Values.runtime.jindo.init.portCheck }}
        - name: INIT_PORT_CHECK_ENABLED
          value: {{ .Values.runtime.jindo.init.portCheck.enabled | quote }}
        {{- end }}
        {{- if .Values.runtime.criticalFusePod }}
        - name: CRITICAL_FUSE_POD
          value: {{ ternary "true" "false" (semverCompare ">=1.16.0-0" .Capabilities.KubeVersion.Version) | quote }}
        {{- end }}
        {{- if .Values.runtime.syncRetryDuration }}
        - name: FLUID_SYNC_RETRY_DURATION
          value: {{ .Values.runtime.syncRetryDuration | quote }}
        {{- end }}
        {{- if .Values.runtime.jindo.engine }}
        - name: JINDO_ENGINE_TYPE
          value: {{ .Values.runtime.jindo.engine | quote }}
        {{- end }}
        {{- if .Values.runtime.jindo.queryUfsTotal }}
        - name: QUERY_UFS_TOTAL
          value: {{ .Values.runtime.jindo.queryUfsTotal | quote }}
        {{- end }}
        - name: HELM_DRIVER
          value: {{ template "fluid.helmDriver" . }}
        ports:
          - containerPort: 8080
            name: metrics
            protocol: TCP
        resources:
          {{- include "fluid.controlplane.resources" (list $ .Values.runtime.jindo.resources) | nindent 10 }}
      terminationGracePeriodSeconds: 10
