---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vineyardruntime-controller
  namespace: {{ include "fluid.namespace" . }}
  labels:
    control-plane: vineyardruntime-controller
spec:
  selector:
    matchLabels:
      control-plane: vineyardruntime-controller
  {{ if .Values.runtime.vineyard.enabled -}}
  replicas: {{ .Values.runtime.vineyard.replicas }}
  {{- else }}
  replicas: 0
  {{- end }}
  template:
    metadata:
      labels:
        control-plane: vineyardruntime-controller
      annotations:
      {{ if gt (.Values.runtime.vineyard.replicas | int) 1 -}}
        controller.runtime.fluid.io/replicas: {{ .Values.runtime.vineyard.replicas | quote }}
      {{- end }}
    spec:
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: vineyardruntime-controller
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: type
                operator: NotIn
                values:
                - virtual-kubelet
      {{- if .Values.runtime.vineyard.tolerations }}
      tolerations:
{{ toYaml .Values.runtime.vineyard.tolerations | indent 6 }}
      {{- end }}
      containers:
      - image: {{ include "fluid.controlplane.imageTransform" (list .Values.runtime.vineyard.controller.repo .Values.runtime.vineyard.controller.image .Values.runtime.vineyard.controller.tag) }}
        name: manager
        command: ["vineyardruntime-controller", "start"]
        args:
          - --development=false
          - --runtime-node-port-range={{ .Values.runtime.vineyard.portRange }}
          - --pprof-addr=:6060
          - --enable-leader-election
          - --leader-election-namespace={{ include "fluid.namespace" . }}
        env:
        {{- if .Values.workdir }}
        - name: FLUID_WORKDIR
          value: {{ .Values.workdir | quote }}
        {{- end }}
        {{- if .Values.runtime.mountRoot }}
        - name: MOUNT_ROOT
          value: {{ .Values.runtime.mountRoot | quote }}
        {{- end }}
        {{- if .Values.runtime.vineyard.master.image }}
        - name: VINEYARD_MASTER_IMAGE_ENV
          value: {{ .Values.runtime.vineyard.master.image | quote }}
        {{- end }}
        {{- if .Values.runtime.vineyard.worker.image }}
        - name: VINEYARD_WORKER_IMAGE_ENV
          value: {{ .Values.runtime.vineyard.worker.image | quote }}
        {{- end }}
        {{- if .Values.runtime.vineyard.fuse.image }}
        - name: VINEYARD_FUSE_IMAGE_ENV
          value: {{ .Values.runtime.vineyard.fuse.image | quote }}
        {{- end }}
        {{- if .Values.runtime.syncRetryDuration }}
        - name: FLUID_SYNC_RETRY_DURATION
          value: {{ .Values.runtime.syncRetryDuration | quote }}
        {{- end }}
        - name: HELM_DRIVER
          value: {{ template "fluid.helmDriver" . }}
        ports:
          - containerPort: 8080
            name: metrics
            protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 1536Mi
          requests:
            cpu: 100m
            memory: 200Mi
      terminationGracePeriodSeconds: 10
