apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-env
  namespace: kube-system
data:
  storage-retention: 360h
---

apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: prometheus
  namespace: kube-system
rules:
  - apiGroups: ["", "extensions", "apps"]
    resources:
      - nodes
      - nodes/proxy
      - services
      - endpoints
      - pods
      - deployments
      - services
    verbs: ["get", "list", "watch"]
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: prometheus
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus
subjects:
  - kind: ServiceAccount
    name: prometheus
    namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      name: prometheus
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
        - name: prometheus
          image: prom/prometheus:v2.24.0
          args:
            - '--storage.tsdb.path=/prometheus'
            - '--storage.tsdb.retention=$(STORAGE_RETENTION)'
            - '--web.enable-lifecycle'
            - '--storage.tsdb.no-lockfile'
            - '--config.file=/etc/prometheus/prometheus.yml'
          ports:
            - name: web
              containerPort: 9090
          env:
            - name: STORAGE_RETENTION
              valueFrom:
                configMapKeyRef:
                  name: prometheus-env
                  key: storage-retention
          volumeMounts:
            - name: config-volume
              mountPath: /etc/prometheus
            - name: prometheus-data
              mountPath: /prometheus
      volumes:
        - name: config-volume
          configMap:
            name: prometheus-configmap
        - name: prometheus-data
          emptyDir: {}
---

apiVersion: v1
kind: Service
metadata:
  labels:
    name: prometheus-svc
    kubernetes.io/name: "Prometheus"
  name: prometheus-svc
  namespace: kube-system
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - name: prometheus
      protocol: TCP
      port: 9090
      targetPort: 9090

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-configmap
  namespace: kube-system
data:
  prometheus.yml: |-
    rule_files:
      - "/etc/prometheus-rules/*.rules"
    scrape_configs:
    - job_name: 'jindo runtime'
      metrics_path: /jindometrics/prometheus
      kubernetes_sd_configs:
        - role: endpoints
      relabel_configs:
      - source_labels: [__meta_kubernetes_service_label_role]
        regex: jindofs-master
        action: keep
      - source_labels: [__meta_kubernetes_endpoint_port_name]
        regex: rpc
        action: keep
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
        replacement: $1
        action: replace
      - source_labels: [__meta_kubernetes_service_label_release]
        target_label: fluid_runtime
        replacement: $1
        action: replace
      - source_labels: [__meta_kubernetes_endpoint_address_target_name]
        target_label: pod
        replacement: $1
        action: replace
