---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: dataloads.data.fluid.io
spec:
  group: data.fluid.io
  names:
    categories:
    - fluid
    kind: DataLoad
    listKind: DataLoadList
    plural: dataloads
    shortNames:
    - load
    singular: dataload
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.dataset.name
      name: Dataset
      type: string
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.duration
      name: Duration
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DataLoad is the Schema for the dataloads API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DataLoadSpec defines the desired state of DataLoad
            properties:
              dataset:
                description: Dataset defines the target dataset of the DataLoad
                properties:
                  name:
                    description: Name defines name of the target dataset
                    type: string
                  namespace:
                    description: Namespace defines namespace of the target dataset
                    type: string
                required:
                - name
                type: object
              loadMetadata:
                description: LoadMetadata specifies if the dataload job should load
                  metadata
                type: boolean
              options:
                additionalProperties:
                  type: string
                description: Options specifies the extra dataload properties for runtime
                type: object
              podMetadata:
                description: PodMetadata defines labels and annotations that will
                  be propagated to DataLoad pods
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    description: Annotations are annotations of pod specification
                    type: object
                  labels:
                    additionalProperties:
                      type: string
                    description: Labels are labels of pod specification
                    type: object
                type: object
              target:
                description: Target defines target paths that needs to be loaded
                items:
                  description: TargetPath defines the target path of the DataLoad
                  properties:
                    path:
                      description: Path defines path to be load
                      type: string
                    replicas:
                      description: Replicas defines how many replicas will be loaded
                      format: int32
                      type: integer
                  required:
                  - path
                  type: object
                type: array
            type: object
          status:
            description: DataLoadStatus defines the observed state of DataLoad
            properties:
              conditions:
                description: Conditions consists of transition information on DataLoad's
                  Phase
                items:
                  description: Condition explains the transitions on phase
                  properties:
                    lastProbeTime:
                      description: LastProbeTime describes last time this condition
                        was updated.
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: LastTransitionTime describes last time the condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is a human-readable message indicating
                        details about the transition
                      type: string
                    reason:
                      description: Reason for the condition's last transition
                      type: string
                    status:
                      description: Status of the condition, one of `True`, `False`
                        or `Unknown`
                      type: string
                    type:
                      description: Type of condition, either `Complete` or `Failed`
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              duration:
                description: Duration tell user how much time was spent to load the
                  data
                type: string
              phase:
                description: Phase describes current phase of DataLoad
                type: string
            required:
            - conditions
            - duration
            - phase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
