---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: goosefsruntime-controller
rules:
  - apiGroups:
    - ""
    resources:
    - namespaces
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - ""
    resources:
    - configmaps
    verbs:
    - get
    - list
    - watch
    - create
    - update
    - delete
  - apiGroups:
    - ""
    resources:
    - persistentvolumeclaims
    verbs:
    - get
    - list
    - watch
    - create
    - update
    - delete
  - apiGroups:
    - ""
    resources:
    - persistentvolumes
    verbs:
    - get
    - list
    - watch
    - create
    - delete
  - apiGroups:
    - ""
    resources:
    - pods
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - ""
    resources:
    - pods/exec
    verbs:
    - create
  - apiGroups:
    - ""
    resources:
    - nodes
    verbs:
    - get
    - list
    - watch
    - patch
  - apiGroups:
    - ""
    resources:
    - events
    verbs:
    - create
    - patch
  - apiGroups:
    - ""
    resources:
    - secrets
    verbs:
    - list
    - watch
    - get
    - create
    - delete
    - update
  - apiGroups:
    - ""
    resources:
    - services
    verbs:
    - create
    - delete
    - list
    - watch
    - get 
  - apiGroups:
      - data.fluid.io
    resources:
      - goosefsdataloads
      - goosefsruntimes
      - datasets
      - goosefsdataloads/status
      - goosefsruntimes/status
      - datasets/status
    verbs:
      - '*'
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - statefulsets
      - daemonsets/status
      - statefulsets/status
    verbs:
      - '*'
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: goosefsruntime-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: goosefsruntime-controller
subjects:
  - kind: ServiceAccount
    name: goosefsruntime-controller
    namespace: {{ include "fluid.namespace" . }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: goosefsruntime-controller
  namespace: {{ include "fluid.namespace" . }}
