---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: juicefsruntime-controller
rules:
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
      - persistentvolumes
      - services
      - endpoints
      - configmaps
      - events
      - namespaces
      - pods
      - pods/exec
      - secrets
      - nodes
    verbs:
      - '*'
  - apiGroups:
      - data.fluid.io
    resources:
      - juicefsruntimes
      - datasets
      - juicefsruntimes/status
      - datasets/status
    verbs:
      - '*'
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - statefulsets
      - daemonsets/status
      - statefulsets/status
    verbs:
      - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: juicefsruntime-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: juicefsruntime-controller
subjects:
  - kind: ServiceAccount
    name: juicefsruntime-controller
    namespace: fluid-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: juicefsruntime-controller
  namespace: fluid-system
