---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluidapp-controller
  namespace: fluid-system
  labels:
    control-plane: fluidapp-controller
spec:
  selector:
    matchLabels:
      control-plane: fluidapp-controller
  {{ if .Values.fluidapp.enabled -}}
  replicas: {{ .Values.fluidapp.replicas }}
  {{- else }}
  replicas: 0
  {{- end }}
  template:
    metadata:
      labels:
        control-plane: fluidapp-controller
    spec:
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: fluidapp-controller
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: type
                    operator: NotIn
                    values:
                      - virtual-kubelet
      tolerations:
        - operator: Exists
      #hostNetwork: true
      containers:
      - image: "{{ .Values.fluidapp.controller.image }}"
        name: manager
        command: ["fluidapp-controller", "start"]
        args:
          - --development=false
          - --pprof-addr=:6060
          - --enable-leader-election
        env:
        {{- if .Values.workdir }}
          - name: FLUID_WORKDIR
            value: {{ .Values.workdir | quote }}
        {{- end }}
        ports:
          - containerPort: 8080
            name: metrics
            protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 1536Mi
          requests:
            cpu: 100m
            memory: 200Mi
      terminationGracePeriodSeconds: 10
