{{ $shortCircuitEnabled := .Values.shortCircuit.enabled -}}
{{ $needDomainSocketVolume := and (and $shortCircuitEnabled (eq .Values.shortCircuit.policy "uuid")) (eq .Values.shortCircuit.volumeType "persistentVolumeClaim") -}}
{{ if $needDomainSocketVolume -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.shortCircuit.pvcName }}
  labels:
    app: {{ template "goosefs.name" . }}
    chart: {{ template "goosefs.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: goosefs-worker
spec:
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.shortCircuit.size }}
  storageClassName: {{ .Values.shortCircuit.storageClass }}
  accessModes:
{{ toYaml .Values.shortCircuit.accessModes | trim | indent 4 }}
  selector:
    matchLabels:
      app: {{ template "goosefs.name" . }}
      release: {{ .Release.Name }}
      heritage: {{ .Release.Service }}
      role: goosefs-worker
{{- end -}}
