---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluid-csi
  namespace: {{ include "fluid.namespace" . }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: fluid-csi-plugin
rules:
  - apiGroups: ["data.fluid.io"]
    resources:
      - alluxioruntimes
      - jindoruntimes
      - goosefsruntimes
      - juicefsruntimes
      - thinruntimes
      - efcruntimes
      - datasets
      - vineyardruntimes
      - alluxioruntimes/status
      - jindoruntimes/status
      - goosefsruntimes/status
      - juicefsruntimes/status
      - thinruntimes/status
      - efcruntimes/status
      - datasets/status
      - vineyardruntimes/status
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["persistentvolumes/status"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims/status"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "patch"]
  {{- if and (not .Values.csi.useNodeAuthorization) (semverCompare ">=1.30.0-0" .Capabilities.KubeVersion.Version) }}
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "patch"]
  {{- end }}
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: fluid-csi-plugin
subjects:
  - kind: ServiceAccount
    name: fluid-csi
    namespace: {{ include "fluid.namespace" . }}
roleRef:
  kind: ClusterRole
  name: fluid-csi-plugin
  apiGroup: rbac.authorization.k8s.io