---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluid-csi
  namespace: fluid-system
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: fluid-csi-plugin
rules:
  - apiGroups: ["data.fluid.io"]
    resources:
      - alluxioruntimes
      - jindoruntimes
      - goosefsruntimes
      - datasets
      - alluxioruntimes/status
      - jindoruntimes/status
      - goosefsruntimes/status
      - datasets/status
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumes/status"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims/status"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch", "patch", "proxy"]
  - apiGroups: [""]
    resources: ["nodes/log", "nodes/metrics", "nodes/proxy", "nodes/spec", "nodes/stats"]
    verbs: ["*"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: fluid-csi-plugin
subjects:
  - kind: ServiceAccount
    name: fluid-csi
    namespace: fluid-system
roleRef:
  kind: ClusterRole
  name: fluid-csi-plugin
  apiGroup: rbac.authorization.k8s.io